/* Palette from http://www.colourlovers.com/palette/452030/you_will_be_free */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app, .nav-container, .fullsize {
    height: 100%;
}

body {
    font: 14pt Arial, Helvetica;
    overflow: hidden;
}

.nav-container {
    display: table;
    width: 100%;
}

table.fixed-top {
    border-collapse: collapse;
    border: none;
    width: 100%;
    height: 100%;
}

table.fixed-top > tbody > tr:first-child {
    height: 0;
}

table.tabbar > tbody > tr:first-child {
    height: 40px;
}

table.fixed-top > tbody > tr > td {
    border: none;
    padding: 0;
}

iframe {
    width: 100%;
    height: 100%;
}

.nav-holder {
    display: table-row;
    height: 40px;
}

.nav {
    margin: 0;
    padding: 0;
    background: #cbdbe0;
    font: 14pt Arial;
    color: #333;
    border-bottom: 1px solid #bed2d9;
    display: flex;
    flex-flow: row;
}

.corpus-selector-container {
}

.navbar-tab-0, .about h1 {
    font-weight: bold;
    font-style: italic;
    font-family: Times New Roman, Times;
}

.about p {
    text-align: justify;
}

.tab {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 1em;
}

.nav li {
    margin: 0;
    padding: 0 10px;
    line-height: 40px;
    list-style-type: none;
    border-left: 1px solid #bed2d9;
    border-right: 1px solid #bed2d9;
}

.nav li.glue {
    flex: 1;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #667174;
}

.nav li a.disabled {
    color: #999;
    cursor: not-allowed;
}

a:hover {
    text-decoration: underline;
}

.nav li a {
    text-decoration: none;
    color: inherit;
}

.nav .about {
    font-weight: bold;
    font-style: italic;
    font-family: Times New Roman, Times;
}

.nav li.selected {
    background: #ecf1f2;
    border-left: 1px solid #bed2d9;
    border-right: 1px solid #bed2d9;
}

.documents-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.search {
    text-align: center;
}

.search .phrase {
    font-size: 20pt;
    width: 100%;
}

.search .group {
    width: 50%;
    min-width: 600px;
    margin: 0 auto 10px auto;
}

.search .search-button {
    margin: 0 10px;
}

.search .advanced {
    font-size: 11pt;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.corpora {
    overflow: auto;
}

.public_fixedDataTableCell_cellContent {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}

.modal-visible {
    opacity: 1;
    pointer-events: auto;
}

.modal-dialog > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: linear-gradient(#fff, #ddd);
}

.modal-dialog h1, .modal-dialog h2 {
    text-align: center;
}

.modal-dialog .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 37px;
    font-size: 20px;
    position: absolute;
    right: -18px;
    text-align: center;
    top: -15px;
    width: 36px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 36px;
    box-shadow: 1px 1px 3px #000;
}

.modal-dialog .close:hover {
    background: #00d9ff;
}

.modal-disabled {
    pointer-events: none;
    height: 100%;
}

.button-container {
    text-align: center;
}

button, input, select {
    font-size: 14pt;
    padding: 5px 10px;
}

.filter-text input[type=text], .filter-text button {
    display: block;
    margin: 0 auto;
}

.directory-tree-container {
    border: 1px inset #999;
    background: white;
    max-height: 400px;
    overflow-y: scroll;
    padding: 5px;
}

.directory-tree-container .file a {
    font-weight: normal;
    color: black;
}


ul.tree li.dir {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAS1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADmYDp0AAAAGHRSTlMAAQIGCQsNDx4gOj0/S7K1t7m6wNXX8f27/IRqAAAASklEQVQYV73KOQ6AMBQDUcNn38Keuf9JKQhKBD2v88jSR2ZmebLbE/BjDHsjqSB+MEk6AMBPZQiy2+CeEBg/ha2zRD+rXkksld4udq4FLUYESkcAAAAASUVORK5CYII=);
}

ul.tree li.open-dir {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAdVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB5WX1YAAAAJnRSTlMAAQIEBQkLEBMVFxocHR44R0xeZmimq7zAwdPV2drc4OTv8/n7/UAsp5IAAABtSURBVBgZjcHrDsFAFIXRb45RVKk7VeNuv/8jmkpOKvHHWvyyGI0v9S2l+5LedQiDBz0Z0KhzKMhkZKEz35HJcPYkkwHhIyoAMqaN3GuDrEwlbtyiyXmEi8cKXWY429fQrs0V2xVQneTSgn+8AS11CHH0tynzAAAAAElFTkSuQmCC);
}

ul.tree li.file {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAALVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADBoCg+AAAADnRSTlMAAQIGQEVYW3h5qLze66EVHzUAAAA+SURBVAhbY+B69+7d2wQGBgY+IyUluwgQQ4GBQY9lApTBEA5h8Lx7C2EwKNlBGUBJShnc70DgNZAjCAICDACFEhJjYGJUnAAAAABJRU5ErkJggg==);
}

.task {
    text-align: center;
}

.task img {
    display: block;
    margin: 2em auto;
}