/* Palette from http://www.colourlovers.com/palette/452030/you_will_be_free */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app, .nav-container {
    height: 100%;
}

body {
    font: 14pt Arial, Helvetica;
    overflow: hidden;
}

.nav-container {
    display: flex;
    flex-flow: column;
}

.nav {
    margin: 0;
    padding: 0;
    background: #cbdbe0;
    font: 14pt Arial;
    color: #333;
    height: 40px;
    border-bottom: 1px solid #bed2d9;
}

.navbar-0, .about h1 {
    font-weight: bold;
    font-style: italic;
    font-family: Times New Roman, Times;
}

.about h1 {
    text-align: center;
}

.about p {
    text-align: justify;
}

.tab {
    flex: 1;
    margin: 0;
    overflow: auto;
    padding: 1em;
}

.nav li {
    float: left;
    display: inline;
    margin: 0;
    padding: 0 10px;
    line-height: 40px;
    border-left: 1px solid #bed2d9;
    border-right: 1px solid #bed2d9;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #667174;
}

a:hover {
    text-decoration: underline;
}

.nav li a {
    text-decoration: none;
    color: inherit;
}

.nav .about {
    font-weight: bold;
    font-style: italic;
    font-family: Times New Roman, Times;
}

.nav li.selected {
    background: #ecf1f2;
    border-left: 1px solid #bed2d9;
    border-right: 1px solid #bed2d9;
}

.documents-container {
    width: 90%;
    margin: 0 auto;
}

.documents {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

.documents thead tr {
    background: #dce8eb;
}

.documents tbody tr:nth-child(even) {
    background: #ecf1f2;
}

.documents tbody tr:nth-child(odd) {
    background: #f7f9fe;
}

.documents td, .documents th {
    border: none;
    padding: 5px;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.corpora {
    overflow: auto;
}

.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}

.modal-visible {
    opacity: 1;
    pointer-events: auto;
}

.modal-dialog > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: linear-gradient(#fff, #999);
}

.modal-dialog .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 37px;
    font-size: 20px;
    position: absolute;
    right: -18px;
    text-align: center;
    top: -15px;
    width: 36px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 36px;
    box-shadow: 1px 1px 3px #000;
}

.modal-dialog .close:hover {
    background: #00d9ff;
}

.modal-disabled {
    pointer-events: none;
}
